.places {
  display: flex;
  flex-direction: column;
  width: calc(100% - 296px);
  margin-top: 92px;
  gap: 80px;
}

@media screen and (max-width: 1150px) {
  .places {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 880px) {
  .places {
    width: calc(100% - 48px);
    margin-top: 88px;
    gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    margin-top: 64px;
    gap: 50px;
  }
}