.page {
    background: #2a2c2f;
    font-family: 'Inter', Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 24px;
    min-width: 320px;
    max-width: 1280px;
  }
  
  @media screen and (max-width: 320px) {
    .page {
      padding-top: 16px;
    }
  }