.cover__overlay {
  text-decoration: none;
  color: #fff;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 740px;
}

.cover__overlay::before {
  content: '';
  position: absolute;
  background: #2a2c2f;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.cover__overlay:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 390px) {
  .cover__overlay {
    min-height: 200px;
  }
}